@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

$bgDefault   : #FFFFFF;
$bgHighlight : #D9D9D9;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar {
    background-color: $bgDefault;
    border-color: $bgHighlight;
}

.navbar-default .navbar-brand {
    background-color: $bgDefault;
    border-color: $bgHighlight;
}

.navbar-default .navbar-fixed-top {
    background-color: $bgDefault;
    border-color: $bgHighlight;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
